.dark {
  background-color: #000000;
  color: #ffffff;
  height: 100vh;

}

.light {
  background-color: #ffffff;
  color: #000000;

}

body {
  padding-top: 0px;
  height: 100vh
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(248, 36, 71);
}

.logo h1 {
  text-rendering: geometricPrecision;
  font-family: cursive;
  color: #fff
}